<!-- payment-method.component.html -->
<div class="payment-container">
  <h2>Izberite način plačila</h2>

  <!-- Order Summary -->
  <div class="order-summary">
    <h3>Povzetek naročila</h3>
    <div class="order-items">
      @for (item of cartItems; track item.product.id) {
        <div class="order-item">
          <span class="item-name">{{ item.product.name }}</span>
          <span class="item-quantity">x{{ item.quantity }}</span>
          <span class="item-price">{{ calculateItemPrice(item.product.price, item.quantity) | currency:'EUR' }}</span>
        </div>
      }
    </div>
    
    <div class="order-totals">
      <div class="total-line">
        <span>Cena vseh izdelkov(vključno z DDV):</span>
        <span>{{ subtotal | currency:'EUR' }}</span>
      </div>
      <div class="total-line">
        <span>Dostava:</span>
        <span>{{ shippingCost === 0 ? 'Brezplačno' : (shippingCost | currency:'EUR') }}</span>
      </div>
      @if (subtotal >= 50) {
        <div class="free-shipping-note">
          <small>🎉 Brezplačna dostava za naročila nad 50,00 €</small>
        </div>
      }
      <div class="total-line total-amount">
        <span><strong>Skupaj:</strong></span>
        <span><strong>{{ totalAmount | currency:'EUR' }}</strong></span>
      </div>
    </div>
  </div>

  <div class="payment-options">
    <!-- UPN Payment -->
    <div class="payment-option" [class.selected]="selectedMethod === 'upn'" (click)="selectMethod('upn')">
      <div class="option-header">
        <i class="icon cash"></i>
        <h3>UPN Plačilo</h3>
      </div>
      <p>Plačilo preko UPN naloga, ki ga dobite na mail</p>
    </div>

    <!-- Cash on Delivery -->
    <div class="payment-option" [class.selected]="selectedMethod === 'cash'" (click)="selectMethod('cash')">
      <div class="option-header">
        <i class="icon cash"></i>
        <h3>Po prevzetju</h3>
      </div>
      <p>Plačilo v gotovini ob prevzemu paketa</p>
    </div>

  <!-- Card Payment Form -->
  @if (selectedMethod === 'upn') {

  <div class="payment-confirmation">
    <div class="confirmation-content">
      <i class="icon cash-large"></i>
      <h3>UPN Plačilo</h3>
      <p>Ko plačate vam pošljemo paket.</p>
      <p>Skupni znesek: <strong>{{ totalAmount | currency:'EUR' }}</strong></p>
      <button class="confirm-button" (click)="confirmPayment()">Potrdi naročilo</button>
    </div>
  </div>
  }
  <!-- Cash on Delivery Confirmation -->
  @if (selectedMethod == 'cash') {

  <div class="payment-confirmation">
    <div class="confirmation-content">
      <i class="icon cash-large"></i>
      <h3>Plačilo po prevzetju</h3>
      <p>Pri prevzemu paketa boste plačali znesek.</p>
      <p>Skupni znesek: <strong>{{ totalAmount | currency:'EUR' }}</strong></p>
      <button class="confirm-button" (click)="confirmPayment()">Potrdi naročilo</button>
    </div>
  </div>
  }
</div>